@font-face {
    font-family: "VeganStyle";
    src: url('./VeganStyle.ttf') format('truetype');
}
html {
    scroll-behavior: smooth;
}
.fancy-title {
    font-family: 'VeganStyle', sans-serif;
    letter-spacing: 12px!important;
    line-height: 1.5!important;
}
.signin-layout {
    background-color: $primary-color;
}
.logo {
    font-family: 'VeganStyle', sans-serif;
    letter-spacing: 2px;
    color: rgb(79, 79, 255)!important;
}
a {
    text-decoration: none;
    color: black!important;
}

.trello-user {
    font-size: 13px;
    text-align: right!important;
}